.background {
  width: 100vw;

  background: #ffffffb7;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/

  position: fixed;
}

.loadingText {
  font: 1rem "Noto Sans KR";
  text-align: center;
}
